<div class="back">
  <span class="material-icons">keyboard_arrow_left</span>
  <%= link_to 'Back', articles_path %>
</div>
<div class="card">
  <div class="header-container">
    <div class="header">
      <%= @article.title %>
    </div>
    <div class="subtext">
      <span><%= @article.created_at.in_time_zone(8).strftime("%B %d, %Y") %></span>
      <span><%= @article.created_at.in_time_zone(8).strftime("%I:%M %p") %></span>
    </div>
  </div>
  <div class="article-body">
    <%= @article.body %>
  </div>
  <div class="show-footer">
    <span class="edit"><%= link_to 'Edit', edit_article_path(@article) %></span>
    <span class="delete">
      <%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </span>
  </div>
</div>
<div class="spacing"></div>
<div class="comments">
  <div class="card">
    <div class="header-container">
      <div class="header">Comments</div>
      <div class="subtext">View and manage all comments</div>
      <button><%= link_to 'New Comment', new_article_comment_path(@article) %></button>
    </div>
    <%= render @article.comments %>
  </div>
</div>
<div class="spacing"></div>
