<div class="back">
  <span class="material-icons">keyboard_arrow_left</span>
  <%= link_to 'Back', articles_path %>
</div>
<div class="card">
  <div class="header-container">
    <div class="header">
      <%= @article.title %>
    </div>
    <div class="subtext">
      <span><%= @article.created_at.in_time_zone(8).strftime("%B %d, %Y") %></span>
      <span><%= @article.created_at.in_time_zone(8).strftime("%I:%M %p") %></span>
    </div>
  </div>
  <div class="article-body">
    <%= @article.body %>
  </div>
  <div class="show-footer">
    <span class="edit"><%= link_to 'Edit', edit_article_path(@article) %></span>
    <span class="delete">
      <%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </span>
  </div>
</div>
<div class="spacing"></div>
<div class="comments">
  <div class="card">
    <div class="header-container">
      <div class="header">Comments</div>
      <div class="subtext">View and manage all comments</div>
    </div>
    <% @article.comments.each do |comment| %>
      <div class="comment">
        <div class="profile"></div>
        <div>
          <div class="name"><%= comment.commenter %></div>
          <div class="comment-body">
            <%= comment.body %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="spacing"></div>
  <div class="card">
    <div class="header-container">
      <div class="header">Add comment</div>
      <div class="subtext">Create a new comment</div>
    </div>
    <%= form_with model: [@article, @article.comments.build] do |form| %>
      <div>
        <p>
          <%= form.label :commenter %>
        </p>
        <%= form.text_field :commenter %>
        <% @article.errors.full_messages_for(:commenter).each do |message| %>
          <div class="error">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="spacing"></div>
      <div>
        <p>
          <%= form.label :body %>
        </p>
        <%= form.text_area :body %>
        <% @article.errors.full_messages_for(:body).each do |message| %>
          <div class="error">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="spacing"></div>
      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
<div class="spacing"></div>
